body,
html {
    margin: 0;
    font-family: sans-serif;
}

.container {
    margin-top: 10px;
    display: flex;
    gap: 0.625%;
}

a.nav {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
}

a.nav:link,
a.nav:visited,
a.nav:focus {
    background: lightgray;
}

a.nav:hover {
    background: orange;
}

a.nav:active {
    background: red;
    color: white;
}

.wrapper {
    overflow: auto;
    margin-top: 50px;
}

.logo-wrapper {
    width: 60%;
    padding-left: 50px;
}

/* table */
table {
    width: 60%;
    margin-bottom: 50px;
    /*-------
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    --------*/
    letter-spacing: 1px;
    font-size: 0.8rem;
}

table.margin {
    margin-top: 50px;
    border-collapse: collapse;
    border-top: 1px dotted gray;
}

/*------
td {
    border: 1px solid rgb(190, 190, 190);
}
------*/
.feature {
    width: 415px;
    vertical-align: top;
}

.options {
    vertical-align: top;
}

.infobox {
    height: 40px;
}

.name {
    font-size: larger;
    font-weight: bold;
}

.size {
    background-color: #78be20;
    color: white;
    text-align: right;
    padding-right: 20px;
    width: 120px;
}

.url {
    text-align: right;
}

.url a {
    outline: none;
    background-color: yellow;
    text-decoration: underline;
    padding: 4px 4px;
    font-size: smaller;
}

td>img {
    margin-top: 30px;
}